<!DOCTYPE html>
<html lang="en">

<head>




    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/uploads/logo-resized.png">
    <link rel="stylesheet" href="/assets/css/toasify.css">
    


    <title>

        GAMS - Admin





    </title>

    <link rel="shortcut icon" href="https://neritt.in/assets/user/images/assets/favicons/favicon-32x32.png">
    <!-- Start CSS -->   
            <link href="https://neritt.in/assets/plugins/switchery/switchery.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/plugins/animate/animate.css" rel="stylesheet" type="text/css">

    <link href="https://neritt.in/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://neritt.in/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="https://neritt.in/assets/css/flag-icon.min.css" rel="stylesheet" type="text/css">
    <link href="https://neritt.in/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://neritt.in/assets/css/app.css" rel="stylesheet" type="text/css">
    <link href="https://neritt.in/assets/css/datepicker.min.css" rel="stylesheet" type="text/css">
    <link href="https://neritt.in/assets/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.1/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.1/js/bootstrap-colorpicker.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link href="/assets/plugins/pnotify/css/pnotify.custom.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/public/css/themify-icons.css">
<style>
    .se-pre-con{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #117A65;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .spinner-grow {
        color: #ffffff !important;
    }
</style>
<!-- <script>
    document.onreadystatechange = function() { 
            if (document.readyState !== "complete") { 
                setTimeout(function(){ 
                    document.querySelector("body").style.visibility = "hidden"; 
                    document.querySelector(".se-pre-con").style.display = "visible"; 
                }, 1000);
            } else { 
                setTimeout(function(){ 
                    document.querySelector(".se-pre-con").style.display = "none"; 
                    document.querySelector("body").style.visibility = "visible"; 
                }, 1000);
            } 
        }; 
</script> -->
<script>
    var notification_popup_flag = true;
</script>
    <!-- End CSS -->

    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

    <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">


    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

    <link id="pagestyle" href="/assets/css/material-dashboard.css" rel="stylesheet" />

    <link rel="stylesheet" href="/assets/css/toasify.css">


    <link rel="stylesheet" href="/assets/css/toastify.css">






    <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>


</head>



<body class="g-sidenav-show  bg-gray-100 vertical-layout" >





    <aside
        class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark"
        id="sidenav-main">

        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
                aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard "
                target="_blank">
                <!-- <img src="/upload/admin logo.png" class="navbar-brand-img h-100" alt="main_logo"> -->
                <span class="ms-1 font-weight-bold text-white">Admin Dashboard</span>
            </a>
        </div>


        <hr class="horizontal light mt-0 mb-2">

        <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
            <ul class="navbar-nav">









                <li class="nav-item">
                    <a class="nav-link text-white " href="/adminDashboard">

                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">dashboard</i>
                        </div>

                        <span class="nav-link-text ms-1">Dashboard</span>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link text-white " href="/userManagement">

                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-users"></i>
                        </div>

                        <span class="nav-link-text ms-1">User Management</span>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link text-white " href="/catagoryManagement">

                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">receipt_long</i>
                        </div>

                        <span class="nav-link-text ms-1">Catagory Management</span>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link text-white " href="/productManagement">

                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">view_in_ar</i>
                        </div>

                        <span class="nav-link-text ms-1">Product Management</span>
                    </a>
                </li>

                <!-- <li class="nav-item">
                    <a class="nav-link text-white " href="/admin/orderManagement">

                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">receipt_long</i>
                        </div>

                        <span class="nav-link-text ms-1">Order Management</span>
                    </a>
                </li> -->


                <!-- <li class="nav-item">
                    <a class="nav-link text-white " href="/admin/couponManagement">

                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">receipt_long</i>
                        </div>

                        <span class="nav-link-text ms-1">Coupon Management</span>
                    </a>
                </li> -->





                <li class="nav-item">
                    <a class="nav-link text-white " href="/logoutadmin">

                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">assignment</i>
                        </div>

                        <span class="nav-link-text ms-1">Logout</span>
                    </a>
                </li>


            </ul>
        </div>


        </div>

    </aside>



    <main class="main-content border-radius-lg ">
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12">
                    <div class="card my-4">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div
                                class="bg-gradient-danger shadow-primary border-radius-lg pt-4 pb-3 d-flex justify-content-between">
                                <h6 class="text-white text-capitalize ps-3">Edit Product</h6>
                                <div class="d-flex align-items-center">


                                
                                </div>
                            </div>
                        </div>
                        <div class="card-body px-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                        <tr style="text-align: center;">
                                        
                                    </thead>
                                    <tbody>
                                      
                                    </tbody>
                                </table>
                                




    <!--
    <.. End Breadcrumbbar -->
    <form action="/editproduct/<%=product._id%>" method="post" id="product_info" enctype="multipart/form-data" onsubmit="return validateForm()">
        <input type="hidden" name="_token" value="pQwjoxBXbM5MHFrsWMzHOgdYWZcCHLUmJ9sGZslm">
        

        <!-- Product Information -->
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" value="<%=product.name%>" name="name" placeholder="Title of the product" style="border: 1px solid #ccc; border-radius: 5px;">
            <span class="validate" id="title_err" style="display:none;color:red;"></span>
        </div>
    
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" value="<%=product.description%>"    name="description" placeholder="Write some description about the product" ><%=product.description%></textarea>
            <span class="validate" id="desc_err" style="display:none;color:red;"></span>
        </div>
    
        <!-- Other Detail -->
        <div class="form-group">
            <label for="price">MRP</label>
            <input type="text" class="form-control" id="price" value="<%=product.price%>" name="price" placeholder="0.00">
            <span class="validate" id="mrp_err" style="display:none;color:red;"></span>
        </div>
    
        <div class="form-group">
            <label for="sales_cost">Offer price</label>
            <input type="text" class="form-control" id="sales_cost" value="<%=product.offer_price%>" name="offer_price" placeholder="0.00">
            <span class="validate" id="sales_err" style="display:none;color:red;"></span>
        </div>
    
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Enter quantity" value="<%=product.quantity%>">
            <span class="validate" id="quantity_err" style="display:none;color:red;"></span>
        </div>
    
        <div class="form-group">
            <label for="color_status">Colors Status</label>
            <select class="form-control" name="color_status" id="color_status">
                <option value="<%=product.color_status%>"><%=product.color_status%></option>

                <option value="White">White</option>
                <option value="Black">Black</option>
            </select>
            <span class="validate" id="color_err" style="display:none;color:red;"></span>
        </div>
    
        <div class="form-group">
            <label for="delivery_charge">Delivery Charge</label>
            <input type="text" class="form-control" value="<%=product.delivery_charge%>" id="delivery_charge" name="delivery_charge" placeholder="0.00">
            <span class="validate" id="charge_err" style="display:none;color:red;"></span>
        </div>
    
        <!-- Category -->
        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" name="category" id="category">
                <% catagories.forEach((category) => { %>
                    <option value="<%=category.id%>" <%= product.category_id == category.id ? 'selected' : '' %>><%=category.categoryname%></option>
                    <option value=""><%=category.categoryname%></option>

                <% }) %>
            </select>
            <span class="validate" id="categ_err" style="display:none;color:red;"></span>
        </div>
        <!-- Image and Gallery -->
     
    
        <div class="form-group">
            <label for="gallery">Gallery</label>
            <input type="file" class="form-control-file" value="<%=product.gallery%>" id="image" name="image" accept="image/*" multiple>
            <span class="validate" id="gallery_err" style="display:none;color:red;"></span>
            <div id="existing-images"style="display: flex; flex-wrap: wrap; gap: 10px;">
                <% if (product.image && Array.isArray(product.image)) { %>
                    <% product.image.forEach((image) => { %>
                        <img src="<%= image %>" alt="Product Image" style="width: 100px; height: 100px; object-fit: cover;">
                    <% }) %>
                <% } %>
            </div>
        </div>
        </div>
    
        <!-- Submit Button -->

      
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
    
    
    <!-- Additional JavaScript or scripts for form validation can be added here -->
    
    <script type="text/javascript">
        $('.colorpicker').colorpicker({});
    </script>
    <!-- Start Footerbar -->
    <!-- <div class="footerbar">
        <footer class="footer">
            <p class="mb-0">© 2021 cPanel - All Rights Reserved.</p>
        </footer>
    </div> -->
    <!-- End Footerbar -->
</div>          
            
            <!-- End Rightbar --> 
     
        </div>
        <!-- End Containerbar -->
        <!-- Start JS -->        
        <script src="https://neritt.in/assets/admin/custom.js"></script>
        <script src="https://neritt.in/assets/js/jquery.min.js"></script>
        <script src="https://neritt.in/assets/js/popper.min.js"></script>
        <script src="https://neritt.in/assets/js/bootstrap.min.js"></script>
        <script src="https://neritt.in/assets/js/modernizr.min.js"></script>
        <script src="https://neritt.in/assets/js/detect.js"></script>
        <script src="https://neritt.in/assets/js/jquery.slimscroll.js"></script>
        <!-- <script src="https://neritt.in/assets/js/horizontal-menu.js"></script>  -->
        <script src="https://neritt.in/assets/js/vertical-menu.js"></script> 
        <script src="https://neritt.in/assets/plugins/switchery/switchery.min.js"></script> 
        <script src="https://neritt.in/assets/js/moment.js"></script>
        <script src="https://neritt.in/assets/js/bootstrap-datetimepicker.min.js"></script>

        <script src="https://neritt.in/assets/js/datepicker.min.js"></script>
        <script src="https://neritt.in/assets/js/datepicker.en.js"></script>
        <script src="https://neritt.in/assets/js/custom-form-datepicker.js"></script>

        <script src="/assets/plugins/bootstrap-inputmask/jquery.inputmask.bundle.min.js"></script>
        <script src="/assets/js/custom/custom-form-inputmask.js"></script>
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

        <script src="/assets/plugins/pnotify/js/pnotify.custom.min.js"></script>

        <script src="https://neritt.in/assets/js/app.js"></script>

            <script src="https://neritt.in/assets/admin/product/js/app.js"></script>

        <!-- Core JS -->

        <script src="https://neritt.in/assets/js/core.js"></script> 
        <!-- End JS -->
      





        <!-- Include Bootstrap JS and jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>
        
        <script>
            function validateForm() {
        const price = document.getElementById('price').value;
        const quantity = document.getElementById('quantity').value;

        // Check if price is a positive number
        if (parseFloat(price) <= 0 || isNaN(parseFloat(price))) {
            document.getElementById('mrp_err').textContent = 'Price must be a positive number';
            document.getElementById('mrp_err').style.display = 'block';
            return false; // Prevent form submission
        } else {
            document.getElementById('mrp_err').style.display = 'none';
        }

        // Check if quantity is a positive number
        if (parseInt(quantity) <= 0 || isNaN(parseInt(quantity))) {
            document.getElementById('quantity_err').textContent = 'Quantity must be a positive integer';
            document.getElementById('quantity_err').style.display = 'block';
            return false; // Prevent form submission
        } else {
            document.getElementById('quantity_err').style.display = 'none';
        }

        return true; // Allow form submission
    }
         </script>
         
</body>

</html>

