<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link href="/home.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-OUHYsftObUOnv2LHSRKFQjHTLU7JX+35h6flOdEfiK+pn4e3aGwJjnRKGZkzNCSb45cJTaQSL6IRpumk3BA05g=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/nav.css">

  <title>home</title>
</head>

<body>
  <!-- Start Header/Navigation -->
  <nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark sticky-top" aria-label="Furni navigation bar"
    style="text-decoration-color: black; background-color: #212529;">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand" href="">headphonecart<span> <i class="fa-solid fa-headphones"></i></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
        aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsFurni">
        <ul class="navbar-nav ml-auto mb-2 mb-md-0">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li><a class="nav-link" href="/shop">Shop</a></li>
          <li><a class="nav-link" href="about.html">About us</a></li>
          <li><a class="nav-link" href="services.html">Services</a></li>
          <li><a class="nav-link" href="blog.html">Blog</a></li>
          <li><a class="nav-link" href="contact.html">Contact us</a></li>
        </ul>
        <ul class="navbar-nav mb-2 mb-md-0 ml-auto">
          <li><a class="nav-link" href="/wishlist"><i class="fa-solid fa-heart"></i> Fav</a></li>
          <li><a class="nav-link" href="/cart"><i class="fas fa-shopping-cart"></i> Cart</a></li>
          <li><a class="nav-link" href="/userProfile"><i class="fas fa-user"></i> Profile</a></li>
          <li><a class="nav-link" href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- nav-bar end -->
  <!-- carousel -->



  <section class="section-a">
    <div class="container">
      <div>
        <h1>The headphones of the future.</h1>
        <p>
          Headphones: The gateway to another world.” “Headphones are the perfect escape from the noise of the world.”
          “Headphones: This is my happy place.” “Headphones: Your ticket to your favorite world.
        </p>
        <a href="/readmore" class="btn">Read More</a>
      </div>
      <img src="https://i.ibb.co/37Y74kv/showcase.jpg" alt="" />
    </div>
  </section>
 
  <!-- products -->




  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
  <div class="carousel-inner">
    <% banners.forEach((banner, index) => { %>
      <% banner.bannerImage.forEach((image, imageIndex) => { %>
        <div class="carousel-item <%= index === 0 && imageIndex === 0 ? 'active' : '' %>">
          <div class="carousel-image-container">
            <img src="/uploads/<%= image %>" class="d-block w-100 carousel-image" alt="..." style="object-fit: cover;">
            <div class="carousel-caption text-center" style="color: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"> <!-- Center align the caption -->
              <h5 id="bannerTitle"style="font-size: 4rem;" >
                <%= banner.bannerTitle %>
              </h5>
              <p id="bannerSubTitle" style="font-size: 2rem;">
                <%= banner.bannerSubTitle %>
              </p>
              <a href="<%= banner.bannerUrl %>">
                <button class="btn btn-primary">View Details</button>
              </a>
            </div>
          </div>
        </div>
      <% }); %>
    <% }); %>
  </div>
  <!-- Navigation buttons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

  
  


  <!-- Gallery -->
  <section class="section-c">
    <div class="gallery">
      <a href="https://i.ibb.co/CHLBZnp/gal2323.jpg" class="big"><img src="https://i.ibb.co/CHLBZnp/gal2323.jpg"
          alt="" /></a>
      <a href="https://i.ibb.co/4pBbhfY/gal39834.jpg" class="big"><img src="https://i.ibb.co/4pBbhfY/gal39834.jpg"
          alt="" /></a>
      <a href="https://i.ibb.co/xSnHP7g/gal43884.jpg" class="big"><img src="https://i.ibb.co/xSnHP7g/gal43884.jpg"
          alt="" /></a>
      <a href="https://i.ibb.co/QN6Bnrb/gal4958.jpg" class="big"><img src="https://i.ibb.co/QN6Bnrb/gal4958.jpg"
          alt="" /></a>
      <a href="https://i.ibb.co/dGZvj75/gal4545.jpg" class="big">
        <img src="https://i.ibb.co/dGZvj75/gal4545.jpg" alt="" /></a>
      <a href="https://i.ibb.co/S6FVFNt/gal74744.jpg" class="big"><img src="https://i.ibb.co/S6FVFNt/gal74744.jpg"
          alt="" /></a>
    </div>
  </section>

  <!-- Footer -->
  <footer class="section-footer py-4 bg-primary">
    <div class="container">
      <div>
        <h2 class="text-2 mb-1">headphonecart.</h2>
        <a href="http://twitter.com">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="http://facebook.com">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="http://youtube.com">
          <i class="fab fa-youtube fa-2x"></i>
        </a>
      </div>
      <div>
        <h3>Company Info</h3>
        <ul>
          <!-- <li><a href="#">All Products</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li> -->
        </ul>
      </div>
      <div>
        <h3>Blog Posts</h3>
        <ul>
          <!-- <li><a href="#">Lorem ipsum dolor.</a></li>
          <li><a href="#">Lorem ipsum dolor.</a></li>
          <li><a href="#">Lorem ipsum dolor.</a></li>
          <li><a href="#">Lorem ipsum dolor.</a></li> -->
        </ul>
      </div>
      <div>
        <h3>Subscribe</h3>
        <p>
          subscribe for begin with our newsteller
        </p>
        <form class="mt-1" name="email-form" method="POST" data-netlify="true">
          <div class="email-form">
            <span class="form-control-wrap"><input type="email" name="email" id="email" size="40" class="form-control"
                placeholder="E-mail" /></span><button type="submit" value="Submit" class="form-control submit">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </footer>
  <script>
  // Function to start carousel autoplay
  function startCarouselAutoplay() {
    // Get the carousel element
    const carousel = document.getElementById('carouselExampleAutoplaying');
    // Initialize the carousel
    const myCarousel = new bootstrap.Carousel(carousel, {
      interval: 3000, // Adjust the interval as needed (in milliseconds)
      pause: false,   // Allow the carousel to keep cycling continuously
    });
  }

  // Start carousel autoplay when the DOM content is loaded
  document.addEventListener('DOMContentLoaded', startCarouselAutoplay);
</script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>